body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

.calender_wrap {
  margin: 30px auto;
  position: relative;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background: whitesmoke;
}
.days {
  display: flex;
  flex-direction: row;
}
.column {
  /* margin: 1rem; */
  text-align: center;
}
.column > p {
  display: inline-block;
  padding: 0 0.6rem;
  width: 20px;
}

.labels {
  display: flex;
}
.labels p {
  width: 20px;
  text-align: center;
  margin: 1.2rem;
}

.prev {
  position: absolute;
  top: 50%;
  left: -30px;
  cursor: pointer;
}
.next {
  position: absolute;
  top: 50%;
  right: -30px;
  cursor: pointer;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayDay {
  margin: 1rem;
  font-size: 3rem;
}
.displayDate {
  margin: 1rem;

  font-size: 2.5rem;
}
.displayMonthAndYear {
  margin: 1rem;

  font-size: 1.4rem;
}
